{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

   
  <h5>Entrar</h5>
  <form method="post" action="{% url 'login' %}">
    <div class="form-group col-6">
      
      {% csrf_token %}
      <table class="table">
        <tbody>
          <tr>
            <th scope="row"><label for="{{form.username.id_for_label}}">Usuário</label></th>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <th scope="row"><label for="{{form.password.id_for_label}}">Senha</label></th>
            <td>{{ form.password }}</td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="Entrar" />
      <input type="hidden" name="next" value="{{ next }}" />
      <p class="text-right"><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>
    </div>
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  
  
{% endblock %}