{% extends "./base.html" %} 
{% block content %}

<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>

<div class=row>
    <div class="col">
        <h3>Contato</h3>
    </div>

    <div class="col">
        <h3>Sobre</h3>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col">
        <div class="LI-profile-badge"  data-version="v1" data-size="large" data-locale="pt_BR" data-type="vertical" data-theme="light" data-vanity="samirtsj">
            <a class="LI-simple-link" href='https://br.linkedin.com/in/samirtsj?trk=profile-badge'>Samir Saliba Junior</a>
        </div>
    </div>
    <div class="col">
        <p class="lead text-justify">
            Trabalho feito para a disciplina de Engenharia de Software, ministrada pelo professor doutor Eduardo Campos Cunha.
            Por Samir Saliba Jr e Gustavo Brito.
            <br>
            <p class="text-muted text-right"><abbr title="Centro Federal de Educação Tecnológica de Minas Gerais" class="initialism">CEFET-MG</abbr>, Setembro de 2020</p> 
        </p>

    </div>
</div>




{% endblock %}
