{% extends "./base.html" %} 
{% block content %}

<div class="row pt-4">
    <div class=col>
        <h3>Contato</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">(31)9999-9999</li>
            <li class="list-group-item">Rua São Paulo, 312</li>
            <li class="list-group-item">12º Andar</li>
            <li class="list-group-item">contato@imoveisweb.com.br</li>
          </ul>
    </div>

    <div class=col>
        <h3>Sobre Nós</h3>
        <p class="lead text-justify">
            Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.
        </p>
    </div>


</div>



{% endblock %}
