{% extends "./base.html" %} 
{% block content %}

<div class="row">
    <div class=col>
        <h3>Sobre Nós</h3>
        <p class="lead text-justify">
            Trabalho feito para a disciplina de Engenharia de Software, ministrada pelo professor doutor Eduardo Campos Cunha.
            Por Samir Saliba Jr e Gustavo Brito.
            <br>
            <p class="text-muted text-right"><abbr title="Centro Federal de Educação Tecnológica de Minas Gerais" class="initialism">CEFET-MG</abbr>, Setembro de 2020</p> 
        </p>
    </div>
    
    <div class=col>
        <h3>Contato</h3>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">(31)9999-9999</li>
            <li class="list-group-item">Rua São Paulo, 312</li>
            <li class="list-group-item">12º Andar</li>
            <li class="list-group-item">contato@imoveisweb.com.br</li>
          </ul>
    </div>

   


</div>



{% endblock %}
