{% extends "./base.html" %} 
{% block content %}

<div class="row">
    <h3>
        <a href="{% url 'imvwb:aptos' %}" class="text-decoration-none">
           Apartamentos
        </a>
    </h3>
</div>

<div class="row">
    <div class="jumbotron w-100">
        <form method="get" id="getForm">
            <div class="row pb-3">
                <div class="col">
                    <div class="input-group mb-3">
                        {{ form.aluguel__gt.errors }}
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="{{form.aluguel__gt.id_for_label}}">Aluguel mínimo</span>
                        </div>
                        {{ form.aluguel__gt }}
                    </div>
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        {{ form.aluguel__lt.errors }}
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="{{ form.aluguel__lt.id_for_label }}">Aluguel máximo</span>
                        </div>
                        {{ form.aluguel__lt }}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class='col-md-4'>
                    <div class="input-group mb-4">
                        {{ form.bairro.errors }}
                        <div class="input-group-prepend">
                        <label class="input-group-text" for="{{form.bairro.id_for_label}}">Bairro</label>
                        </div>
                        {{ form.bairro }}
                    </div>
                </div>
                <div class="div col-md-2">
                    <a type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAddBairro">
                        Outro Bairro
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        {{ form.quartos__gt.errors }}
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="{{form.quartos__gt.id_for_label}}">Nº quartos mínimo</span>
                        </div>
                        {{ form.quartos__gt }}
                    </div>
                </div>
            </div>
            <button type="submit" for="getForm" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</div>


<div class="row">
    {% for apto in aptos %}
        <div class="col-3 px-0">
            <div class="card mx-0" style="width:100%">
                <img src="{{apto.imagem.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'imvwb:detail_apto' apto.id %}" class="text-decoration-none">
                            Apartamento em {{apto.bairro}}, {{apto.cidade}}, {{apto.area}} m²
                        </a>
                    </h5>
                    <p class="card-text">{{apto.num_quartos}} Quartos</p>
                    <h5>
                        <span class="badge badge-success badge-pill">R${{apto.aluguel}}</span>
                        {%if apto.new %}
                            <span class="badge badge-secondary badge-pill">Novidade</span>
                        {% endif %}
                    </h5>
                </div> 
            </div>
        </div>
    {% endfor %}
</div>

<!-- Modal addBairro-->
<div class="modal fade" id="modalAddBairro" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Adicionar Bairro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
              
        <form method="post" id="formBairro" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class='col'>
                    <div class="input-group mb-3">
                        {{ formBairro.nome.errors }}
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="{{form.nome.id_for_label}}">{{formBairro.nome.label}}</label>
                        </div>
                        {{ formBairro.nome }}
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="submit" for="formBairro" class="btn btn-primary">Adicionar</button>
              </div>
        </form>

        </div>
      </div>
    </div>
</div>
  
{% endblock %}
